---
import { timelineItems } from "../data/timeline";

interface Props {
  heading: string;
  itemTypes: string[];
}

const { heading, itemTypes } = Astro.props;

const filteredItems = timelineItems.filter((d) => itemTypes.includes(d.type));
---

<div class="item-list-container">
  <h2>{heading}</h2>

  <div class="item-list">
    {
      filteredItems.map((d) => (
        <div class="item">
          <a href={d.url} target="_blank" rel="noreferrer">
            <span class="title">{d.title}</span> {d.description}, {d.date}.
          </a>
        </div>
      ))
    }
  </div>
</div>

<style lang="scss">
  .item-list-container {
    margin-top: 2em;

    h2 {
      font-size: 1em;
      text-align: center;
    }

    .item-list {
      display: flex;
      flex-direction: column;
      row-gap: 0.75em;

      .item {
        font-size: 0.7em;

        a {
          text-decoration: none;
          color: var(--c-text);

          &:hover {
            text-decoration: underline;
          }

          .title {
            font-weight: 700;
          }
          &:hover .title {
            color: var(--c-highlight);
          }
        }
      }
    }
  }
</style>
