---
import "modern-normalize";
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
const siteName = "Sorami Shiromizu (Hisamoto)";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/_assets/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="description" content={description} />
    <meta
      name="keywords"
      content={`${siteName}, 白水空海, 久本空海, しろみずそらみ, ひさもとそらみ, sorami`}
    />

    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sorami.dev/" />
    <meta property="og:site_name" content="sorami.dev" />
    <meta property="og:description" content={description} />

    <meta property="og:image" content="https://sorami.dev/_assets/dot.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="460" />
    <meta property="og:image:height" content="460" />
    <meta property="og:image:alt" content="Profile photo" />

    <meta property="og:locale" content="ja_JP" />
  </head>
  <body>
    <slot />
  </body>
</html>
